@import "colors";
@import "settings";
@import "mixins";
@import "reset";
@import "fonts";
// bower:scss
// endbower

*, *:before, *:after {
  box-sizing: border-box;
}

// Body
body {
  font-family: $font-family;
  font-size: $font-size;
  margin: 0px auto;
  padding: 0 0 0px;
  max-width: 1200px;
  min-height: 100vh;
  background-color: $white;
  // overflow: hidden;
}

// Links
a {
  text-decoration: none;
}

// Buttons
.button {
  @include button($primary-color, #FFFFFF);

  &.button-danger {
    @include button($danger-color, #FFFFFF);
  }

  &.button-success {
    @include button($success-color, #FFFFFF);
  }
}

.pull-right {
	float: right;
}

// Header
@import "header";

// Body
@import "body";

// SVGs
#svg, #snap-svg {
  *[draggable="true"]{
  	cursor: move;
  }
}

#filters-svg {
}

// Dropzone
.dropzone {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(45,53,56,0.1);
  color: #6a6a69;
  display: block;
  font-size: 12px;
  font-weight: 900;
  height: 48px;
  line-height: 48px;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;


  &.drag-over-accept {
    background: #eaeaea;
  }
}
